/**
* Float Activity
**/

*{
    box sizing: border-box;
    text-align: center;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: gray;
    background: white;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: gray;
    background-color: white;
}

section {
    font-size: 30px;
    line-height: 32px;
    color: gray;
    background-color: white;
}

#left {
    float: left;
    width: 50%;
    color: gray;
    background: white
}

#right{
    float: right;
    width: 50%;
    color: gray;
    background: white;
}

#division {
    padding: 20px;
    margin-top: 20px;
    background: white;
    color: gray
}

aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    text-decoration-color: gray;
    background: white;
}

footer {
    padding: 24px;
    clear: both;
    background: gray;
}